:root {
  --oui-font-family: 'Roboto', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 212 175 64;
  --oui-color-primary-light: 233 205 119;
  --oui-color-primary-darken: 191 144 34;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 212 175 64;
  --oui-color-link-light: 233 205 119;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 30 30 30;
  --oui-color-quaternary: 30 30 30;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 60 250 200;
  --oui-color-success-darken: 0 200 100;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 10 20 10;
  --oui-color-fill-active: 20 30 20;

  --oui-color-base-1: 64 56 83;
  --oui-color-base-2: 51 44 66;
  --oui-color-base-3: 40 33 63;
  --oui-color-base-4: 29 26 44;
  --oui-color-base-5: 20 18 38;
  --oui-color-base-6: 14 12 29;
  --oui-color-base-7: 44 39 61;
  --oui-color-base-8: 29 26 44;
  --oui-color-base-9: 14 13 25;
  --oui-color-base-10: 8 7 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 233 205 119;
  --oui-gradient-primary-end: 212 175 64;

  --oui-gradient-secondary-start: 20 20 20;
  --oui-gradient-secondary-end: 15 15 15;

  --oui-gradient-success-start: 5 150 5;
  --oui-gradient-success-end: 41 233 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 233 205 119;
  --oui-gradient-brand-end: 212 175 64;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 10 10 10;
  --oui-gradient-neutral-end: 20 20 20;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
}